@inherits LayoutComponentBase

<div class="page">
    <header class="header">
        <HeaderContent />
    </header>
    <main class="main">
        <article class="content">
            @Body
        </article>
    </main>
    <div class="content-footer">
        <img class="kaart" alt="kaart achtergrond" src="/image/background.png" />
    </div>
    <footer class="footer">
        <p>Alex & Alrike 2026</p>
    </footer>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

<style lang="scss">
    body {
        box-sizing: border-box;
        margin: 0;
    }
    
    .page {
        max-width: 100%;
        max-height: 100%;

        .header {
            width: 100%;
            height: 100px;
            background-color: var(--primary);
        }
        
        .content-footer {
            height: 849px;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .kaart {
                width: 100%;
                max-width: 720px;
            }
        }
        
        .main {
            min-width: 465px;
            width: 100%;
            min-height: calc(100vh - 1000px);
            padding-top: 8em;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-image: url("/image/content-overlay.svg");
            background-repeat: no-repeat;
            background-size: 100% auto;
            
            .content {
                max-width: 720px;
                overflow-x: hidden;
                padding: 0 15px;
                
                text-align: center;
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                h3 {
                    margin-bottom: 5px;
                }
                
                p {
                    margin: 0;
                }
            }
        }
        
        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 50px;
            background-color: var(--primary);
            display: flex;
            justify-content: center;
            align-items: center;
            
            p {
                color: white;
            }
        }
    }
</style>