@code {
    private List<HeaderContentPage> _pages = new List<HeaderContentPage>(new[] {
        new HeaderContentPage("/home", "", "home"),
        new HeaderContentPage("/info", "Praktische informatie", "info"),
        new HeaderContentPage("/programma", "Programma", "list"),
        new HeaderContentPage("/cadeaus", "Cadeaus", "gift"),
        new HeaderContentPage("/fotos", "Foto's", "album"),
        new HeaderContentPage("/overnachten", "Overnachten", "tent"),
        new HeaderContentPage("/contact", "Contact", "email"),
    });
}
<div class="header-content">
    @foreach (var page in _pages) {
    <NavLink class="header-link" href="@(page.Link)">
        @if (page.Icon != null) {
        <img class="header-icon" alt="@(page.Icon)" src="/icons/@(page.Icon).svg" />
        }
        @if (!string.IsNullOrEmpty(page.Text)) {
        <span class="link-text">@(page.Text)</span>
        }
    </NavLink>
    }
</div>

<style>
    .header-content {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
    }

    .header-link {
        padding: 7px;
        border-radius: 5px;
        border: 1px solid var(--secondary);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        color: var(--secondary-light);
        text-decoration: none;
    }

    .header-link.active {
        font-weight: bold;
    }

    .header-link:hover {
        background-color: var(--secondary-light);
        color: var(--primary);
    }

    .header-icon {
        width: 24px;
        height: 24px;
        display: block;
        filter: brightness(0) saturate(100%) invert(75%) sepia(24%) saturate(457%) hue-rotate(75deg) brightness(90%) contrast(86%);
    }

    .header-link:hover .header-icon {
        filter: brightness(0) saturate(100%) invert(19%) sepia(16%) saturate(1389%) hue-rotate(72deg) brightness(96%) contrast(91%);
    }
</style>
