@code {
    private List<HeaderContentPage> _pages = new List<HeaderContentPage>(new[] {
        new HeaderContentPage("/home", "", "home"),
        new HeaderContentPage("/info", "Praktische informatie", "info"),
        new HeaderContentPage("/programma", "Programma", "list"),
        new HeaderContentPage("/cadeaus", "Cadeaus", "gift"), // "gift-outline"
        new HeaderContentPage("/reis", "Huwelijksreis", "earth"), // "plane" "plane-dots"
        new HeaderContentPage("/fotos", "Foto's", "album"),
        new HeaderContentPage("/contact", "Contact", "email"),
    });
}
<div class="header-content">
    @foreach (var page in _pages) {
    <NavLink class="header-link" href="@(page.Link)">
        @if (page.Icon != null) {
        <svg alt="@(page.Icon)">
            <use href="icons/@(page.Icon).svg" />
        </svg>
        }
        @if (!string.IsNullOrEmpty(page.Text)) {
        <span class="link-text">@(page.Text)</span>
        }
    </NavLink>
    }
</div>

<style>
    .header-content {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
        
        .header-link {
            padding: 7px;
            border-radius: 5px;
            border: 1px solid var(--secondary);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 4px;
            color: var(--secondary-light);
            text-decoration: none;
            
            &.active {
                font-weight: bold;
            }
            
            &:hover {
                background-color: var(--secondary-light);
                color: var(--primary);
                
                svg {
                    fill: var(--primary);
                }
            }
            
            svg {
                fill: var(--secondary-light);
                max-width: 24px;
                max-height: 24px;
                min-width: 24px;
                min-height: 24px;
            }
        }
    }
</style>
